@model Employee

<form method="post" asp-action="DeletePOST">
	<input  asp-for="Id" hidden/>
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary">Delete Employee</h2>
			<hr />
		</div>
		<div asp-validation-summary="All"></div>
		<div>
			<label asp-for="Name"></label>
			<input asp-for="Name" disabled class="form-control"/>
			
		</div>
		<div>
			<label asp-for="Surname"></label>
			<input asp-for="Surname" disabled class="form-control"/>
			
		</div>
		<div>
			<label asp-for="Gender"></label>
			<input asp-for="Gender" disabled class="form-control"/>
			
		</div>
		<div>
			<label asp-for="PersonalIdentityNumber"></label>
			<input asp-for="PersonalIdentityNumber" disabled class="form-control"/>
		
		</div>
		<div>
			<label asp-for="BirthDate"></label>
			<input asp-for="BirthDate" disabled class="form-control"/>
			
		</div>
		<div>
			<label asp-for="Position"></label>
			<input asp-for="Position" disabled class="form-control"/>
		
		</div>
		<div>
			<label asp-for="Status"></label>
			<input asp-for="Status" disabled class="form-control"/>
			
		</div>
		<div>
			<label asp-for="ReleaseDate"></label>
			<input asp-for="ReleaseDate" disabled class="form-control"/>
		</div>
		<div>
			<label asp-for="MobileNumber"></label>
			<input asp-for="MobileNumber" disabled class="form-control"/>
			
		</div>
		<div class="mt-3">
		<button type="submit" class="btn btn-danger" style="width:150px">Delete</button>
		<a asp-controller="Employee" asp-action="Index" class="btn btn-secondary" style="width:150px">
			Back to list
		</a>
		</div>
	</div>
</form>

